
        .A .station__teams::after {
            content: "0/28"
        }
        
        .B .station__teams::after {
            content: "2/28"
        }

        .C .station__teams::after {
            content: "0/28"
        }

        .D .station__teams::after {
            content: "0/28"
        }

        .E .station__teams::after {
            content: "1/28"
        }

        .F .station__teams::after {
            content: "0/28"
        }

        .G .station__teams::after {
            content: "1/28"
        }

        .H .station__teams::after {
            content: "0/28"
        }

        .I .station__teams::after {
            content: "0/28"
        }

        .J .station__teams::after {
            content: "0/28"
        }

        