
        .A .station__teams::after {
            content: "12/28"
        }
        
        .B .station__teams::after {
            content: "11/28"
        }

        .C .station__teams::after {
            content: "20/28"
        }

        .D .station__teams::after {
            content: "20/28"
        }

        .E .station__teams::after {
            content: "10/28"
        }

        .F .station__teams::after {
            content: "11/28"
        }

        .G .station__teams::after {
            content: "13/28"
        }

        .H .station__teams::after {
            content: "10/28"
        }

        .I .station__teams::after {
            content: "1/28"
        }

        .J .station__teams::after {
            content: "1/28"
        }

        