
        .A .station__teams::after {
            content: "10/20"
        }
        
        .B .station__teams::after {
            content: "10/20"
        }

        .C .station__teams::after {
            content: "20/20"
        }

        .D .station__teams::after {
            content: "20/20"
        }

        .E .station__teams::after {
            content: "10/20"
        }

        .F .station__teams::after {
            content: "10/20"
        }

        .G .station__teams::after {
            content: "11/20"
        }

        .H .station__teams::after {
            content: "10/20"
        }

        .I .station__teams::after {
            content: "0/20"
        }

        .J .station__teams::after {
            content: "0/20"
        }

        .K .station__teams::after {
            content: "0/20"
        }

        .L .station__teams::after {
            content: "0/20"
        }

        