
        .GL .team__score::after {
            content: "21/100"
        }
        .GL .team__stations::after {
            content: "5/10"
        }
        .GL .team__bonus::after {
            content: "8/30"
        }
        .GL .team__logo {
            background-color: #bde0fe
        }
        .GL {
            order: 14
        }
        .GL .team__all-points::after{
            content: "29"
        }
        
        .O .team__score::after {
            content: "17/100"
        }
        .O .team__stations::after {
            content: "5/10"
        }
        .O .team__bonus::after {
            content: "5/30"
        }
        .O .team__logo {
            background-color: #daeaf6
        }
        .O {
            order: 17
        }
        .O .team__all-points::after{ 
            content: " 22"
        }


        .Z .team__score::after {
            content: "9/100"
        }
        .Z .team__stations::after {
            content: "5/10"
        }
        .Z .team__bonus::after {
            content: "13/30"
        }
        .Z .team__logo {
            background-color: #9bd0b7
        }
        .Z {
            order: 16
        }
        .Z .team__all-points::after{
            content: "22"
        }



        .M .team__score::after {
            content: "14/100"
        }
        .M .team__stations::after {
            content: "5/10"
        }
        .M .team__bonus::after {
            content: "7/30"
        }
        .M .team__logo {
            background-color: #c23a22
        }
        .M {
            order: 19
        }
        .M .team__all-points::after{
            content: "21 "
        }


        .DS .team__score::after {
            content: "33/100"
        }
        .DS .team__stations::after {
            content: "5/10"
        }
        .DS .team__bonus::after {
            content: "6/30"
        }
        .DS .team__logo {
            background-color: #dab894
        }
        .DS {
            order: 4
        }
        .DS .team__all-points::after{
            content: "39"
        }
        

        .DU .team__score::after {
            content: "30/100"
        }
        .DU .team__stations::after {
            content: "5/10"
        }
        .DU .team__bonus::after {
            content: "8/30"
        }
        .DU .team__logo {
            background-color: #d6eadf
        }
        .DU {
            order: 5
        }
        .DU .team__all-points::after{
            content: "38"
        }



        .OT .team__score::after {
            content: "41/100"
        }
        .OT .team__stations::after {
            content: "5/10"
        }
        .OT .team__bonus::after {
            content: "7/30"
        }
        .OT .team__logo {
            background-color: #957DAD
        }
        .OT {
            order: 1
        }
        .OT .team__all-points::after{
            content: " 48"
        }



        .GG .team__score::after {
            content: "28/100"
        }
        .GG .team__stations::after {
            content: "5/10"
        }
        .GG .team__bonus::after {
            content: "9/30"
        }
        .GG .team__logo {
            background-color: #E0BBE4
        }
        .GG {
            order: 6
        }
        .GG .team__all-points::after{
             content: "37"
        }


        .CH .team__score::after {
            content: "13/100"
        }
        .CH .team__stations::after {
            content: "5/10"
        }
        .CH .team__bonus::after {
            content: "9/30"
        }
        .CH .team__logo {
            background-color: #d291bc
        }
        .CH {
            order: 18
        }
        .CH .team__all-points::after{
            content: "22"
        }


        .GO .team__score::after {
            content: "30/100"
        }
        .GO .team__stations::after {
            content: "5/10"
        }
        .GO .team__bonus::after {
            content: "6/30"
        }
        .GO .team__logo {
            background-color: #c2d5a8
        }
        .GO {
            order: 9
        }
        .GO .team__all-points::after{
            content: "36"
        }


        .GV .team__score::after {
            content: "45/100"
        }
        .GV .team__stations::after {
            content: "6/10"
        }
        .GV .team__bonus::after {
            content: "7/30"
        }
        .GV .team__logo {
            background-color: #ffdfdc
        }
        .GV {
            order: 0
        }
        .GV .team__all-points::after{
            content: "52"
        }


        .SC .team__score::after {
            content: "34/100"
        }
        .SC .team__stations::after {
            content: "5/10"
        }
        .SC .team__bonus::after {
            content: "6/30"
        }
        .SC .team__logo {
            background-color: #9d8189
        }
        .SC {
            order: 3
        }
        .SC .team__all-points::after{
            content: "40"
        }


        .V .team__score::after {
            content: "21/100"
        }
        .V .team__stations::after {
            content: "5/10"
        }
        .V .team__bonus::after {
            content: "8/30"
        }
        .V .team__logo {
            background-color: #cccccc
        }
        .V {
            order: 13
        }
        .V .team__all-points::after{
            content: "29"
        }


        .MK .team__score::after {
            content: "30/100"
        }
        .MK .team__stations::after {
            content: "5/10"
        }
        .MK .team__bonus::after {
            content: "7/30"
        }
        .MK .team__logo {
            background-color: #9cadce
        }
        .MK {
            order: 7
        }
        .MK .team__all-points::after{
            content: "37"
        }


        .SA .team__score::after {
            content: "18/100"
        }
        .SA .team__stations::after {
            content: "5/10"
        }
        .SA .team__bonus::after {
            content: "7/30"
        }
        .SA .team__logo {
            background-color: #a2d2ff
        }
        .SA {
            order: 15
        }
        .SA .team__all-points::after{
            content: "25"
        }
        

        .P .team__score::after {
            content: "31/100"
        }
        .P .team__stations::after {
            content: "5/10"
        }
        .P .team__bonus::after {
            content: "5/30"
        }
        .P .team__logo {
            background-color: #5d5b6a
        }
        .P {
            order: 10
        }
        .P .team__all-points::after{
            content: "36"
        }


        .R .team__score::after {
            content: "37/100"
        }
        .R .team__stations::after {
            content: "5/10"
        }
        .R .team__bonus::after {
            content: "8/30"
        }
        .R .team__logo {
            background-color: #ffafcc
        }
        .R {
            order: 2
        }
        .R .team__all-points::after{
            content: "45"
        }



        .HS .team__score::after {
            content: "23/100"
        }
        .HS .team__stations::after {
            content: "5/10"
        }
        .HS .team__bonus::after {
            content: "9/30"
        }
        .HS .team__logo {
            background-color: #efe9ae
        }
        .HS {
            order: 12
        }
        .HS .team__all-points::after{
            content: "32"
        }

        

        .CE .team__score::after {
            content: "32/100"
        }
        .CE .team__stations::after {
            content: "5/10"
        }
        .CE .team__bonus::after {
            content: "5/30"
        }
        .CE .team__logo {
            background-color: #ff928b
        }
        .CE {
            order: 8
        }
        .CE .team__all-points::after{
            content: "37"
        }


        .PP .team__score::after {
            content: "8/100"
        }
        .PP .team__stations::after {
            content: "1/10"
        }
        .PP .team__bonus::after {
            content: "2/30"
        }
        .PP .team__logo {
            background-color: #7ec4cf
        }
        .PP {
            order: 20
        }
        .PP .team__all-points::after{
            content: "10"
        }

        
        .HW .team__score::after {
            content: "0/100"
        }
        .HW .team__stations::after {
            content: "0/13"
        }
        .HW .team__bonus::after {
            content: "0/30"
        }
        .HW .team__logo {
            background-color: #758184
        }
        .HW {
            order: 22
        }
        .HW .team__all-points::after{
            content: "0"
        }


        .K .team__score::after {
            content: "0/100"
        }
        .K .team__stations::after {
            content: "0/13"
        }
        .K .team__bonus::after {
            content: "0/30"
        }
        .K .team__logo {
            background-color: #ff8fab
        }
        .K {
            order: 21
        }
        .K .team__all-points::after{
            content: "0"
        }
        
        
        .CO .team__score::after {
            content: "0/100"
        }
        .CO .team__stations::after {
            content: "0/13"
        }
        .CO .team__bonus::after {
            content: "0/30"
        }
        .CO .team__logo {
            background-color: #ffc8dd
        }
        .CO {
            order: 24
        }
        .CO .team__all-points::after{
            content: "0"
        }

        
        