
:root{
    --color-primary: #AA2C2E;
    --color-secondary: #B64D4F ;
    --color-tertiary: #D79FA0;
    --white: #fcfcfc;
    --gray:rgb(219, 213, 213);
}

.body{
    margin: 0;
}

.grid{
    display:grid;
    grid-template-rows: auto 350px auto auto auto;
}


.header{
    background-color: var(--white);
    color: var(--color-primary);
}

.header__logo{
    margin: 20px 0;
    text-align: center;
    display: block;
}

.header__title{
    font-size: 28px;
}

.header__title,
.header__subtitle{
    margin:0;
    padding:0;
}


.menu{
    display:none;
}

.hero{
    background-image: url("../img/mia.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: var(--white);

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
 
    box-shadow: 0 10px 50px -2px silver, 0 -10px 50px -2px silver;
    

}

.hero__text{
    padding-bottom: 70px;
}

.hero__title,
.hero__subtitle{
    text-align: center;
    margin: 0;
    padding: 0;
}

.hero__text > :last-child{
    display: none;
}

.section{
    padding-top:100px;
    padding-bottom: 100px;
}

.section__title{
    margin:0 ;
    padding:0;
    margin-bottom: 40px;
    text-align: center;
}

.section__stations{
    background-color:var(--color-tertiary);
}

.map{
    display:none;
}


.station{
    display: flex;
    align-items: center;
    border: 2px solid var(--color-secondary);
    border-radius: 10px;
	margin: 20px 20px 0px 20px;
	padding: 35px 0 20px 0;
    background-color: white
}

.station__logo{
	flex: 1 1 20%;
	padding: 0 20px;
    fill:var(--color-primary);

}

.station__text{
    flex: 1 1 80%;
	padding-right: 20px;
	text-align: left;
}

.station__name{
    margin:0;
    padding:0;
    padding-left: 4px;
}

.station__info p {
    margin:0;
    padding:0;
}


.teams{
    display: flex;
    flex-direction: column;
}


.team{
	border-radius: 10px;
	margin: 20px 20px 0px 20px;
	padding: 35px 0 20px 0;
	text-align: center;
    order: 100;

    border: 2px solid var(--color-secondary);
    


}

.team__logo{
    display: inline-block;
    width: 35px;
    height: 30px;
    padding:10px;
	border-radius: 50%;
    color: var(--white);
    background-color:gray;
    border: 2px solid white;
    box-shadow: 0 10px 50px -2px var(--color-tertiary), 0 -10px 50px -2px var(--color-tertiary);

}


.team__results{
	padding: 0 10px;
	margin: 0px auto;
}

.team__info{
    padding: 0;
    margin: 0;
    text-align: left;
}

.footer{
    background-color: var(--color-primary);
    color: var(--white);
    padding: 0 20px;
    display:flex;
    flex-direction: column;
    justify-content:space-between;
    align-items: center;
}

.footer__copyright{
    margin: 0;
}

.footer__designer{
    font-size: 12px;
    text-align: right;
}

.footer__designer a{
    color:var(--white);
}

.footer__thanks{
    text-align: center;
    padding: 0;
    margin: 20px 0;
    order: -1;
}

.footer__thanks p{
    margin: 0;
}


@media screen and (min-width:700px) {

    .grid{
        grid-template-rows: auto 500px repeat(2, auto) 70px;
    }

    .header__title{
        font-size: 18px;
    }

    .header__subtitle{
        display:none;
    }
    
    .menu{
        display: flex;
        justify-content: center;
        margin: 0 20px 20px 20px;
        column-gap: 20px;
    }

    .menu__items{
        display: inline-block;
        text-align: center;
        padding: 10px 50px;
        margin: 5px 0;
        border: 0;

        background-color: var(--color-primary);
        color: var(--white);
        border-radius: 20px;
        text-decoration: none;

    }

    .menu__items:hover,
    .menu__items:focus,
    .menu__items:active{
        background-color: var(--color-tertiary);
        color: var(--white);
        padding: 10px 50px;
        margin: 5px 0;
        transform: scale(1.1);
    }

    .hero{
        background-image: url("../img/header_mia.jpg");
        background-position: bottom;
        background-attachment: fixed;
    }

    .hero__subtitle{
        display: block;
    }

    .hero__text{
        padding-bottom: 60px;
    }

    .hero__text > :last-child{
        display:block;
    }

    .teams{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .team{
        margin:0;
        margin-top: 15px;
        flex: 0 0 calc((100% - 45px)/3);

    }

    .stations{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .station{
        margin:0;
        margin-top: 20px;
        flex: 0 0 calc((100% - 30px)/2);
    }
    
}


@media screen and (min-width:960px) {
    .grid{
        grid-template-rows: auto 550px repeat(3, auto) 70px;
    }

    .header{
        display: flex;
        justify-content:space-between;
        align-items: center;
        margin:20px 40px;
    }

    .header__title{
        display: inline;
    }

    .menu{
        margin: 0;
    }

    .hero{
        background-position: center;
    }

    .hero__text{
        padding-bottom: 50px;
    }


    .map{
        display:block;
        height:600px;
    }
    
    .map__img{
        width:100%;
        height:100%;
        object-fit: cover;
    
    }

    .station{
        margin-top: 20px;
        flex: 0 0 calc((100% - 60px)/3);
    }

    .teams,
    .stations{
        max-width: 1000px;
        margin: 0 auto;
        
    }

    .team{
        margin-top: 15px;
        flex: 0 0 calc((100% - 60px)/4);
    }

    .footer{
        background-color: var(--color-primary);
        color: var(--white);
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 0 20px;
    }
    
    .footer__copyright,
    .footer__designer{
        flex: 0 1 20%;
    }

    .footer__thanks{
        order: 0;
    }

}




.log{
    width:50px;
    text-align: center;
}

.team-a{
    background-color: violet;
    display:inline-block;
}

/*pseudo element*/
.team-a::before{
    display:inline-block;
    height:30px;
    width:30px;
    border-radius: 50%;
    background-color: silver;
}


/*display as background pct*/
.station-container{
    position: relative;
    display: none;
}


.point {
    height:30px;
    width:30px;
    border-radius: 50%;
    background-color: silver;
    position: absolute;
}

/*python*/
.team-a-position{
    background-color: violet;
    left: 50px;
    top: 100px;
}


